{% extends 'base.html' %}

{% block body %}

<br>
<div class="container">
    <h3 style="display: inline-block;">RECIEVED MEMOS</h3>
    {% if session.get('start_date') %}
        <p style="display: inline-block;">
        between {{ session.get('start_date') }} and {{ session.get('end_date')[:-13] }}
        <a style="display: inline-block; color: black;" href="{{ url_for('memo.filter_memos') }}">
            <i class="bi bi-pencil-square"></i>
        </a>    
        </p>
    {% endif %}
    <table class="table myTable">
        <thead>
            <tr>
                <th colspan="2"><input type="text" class="form-control search_title" placeholder="Search Title" id="" onkeyup="myFunction()"></th>  
                <th colspan=""><input type="text" class="form-control search_descr" placeholder="Search Description" id="" onkeyup="myFunction()"></th>
                <!-- <th><input type="text" class="form-control" placeholder="Search Date Added" id=""></th> -->
                <th colspan="2"><input type="text" class="form-control search_source" placeholder="Search Sender Office" id="" onkeyup="myFunction()"></th>
            </t r>
            <tr>
                <th style="width: 17%;">Memo Title</th>
                <th style="width: 16%;">Date Recieved</th>
                <th style="width: 34%;">Description</th>
                <th style="width: 18%;">Attatchment</th>
                <th style="width: 15%;">Sender Office</th>
            </tr>
        </thead>
        <tbody>
            {% for memo in memos %}
                <tr>
                    <td>{{ memo.title }}</td>
                    <td>
                        {{ memo.timestamp.date() }}
                    </td>
                    <td>{{ memo.description }}</td>
                    <td>
                        <i style="color: red;" class="bi bi-filetype-pdf"></i>
                        {{ memo.note_attached[:3]+'..'+memo.note_attached[-3:] }}
                        <a href="{{ url_for('memo.download_file', name=memo.note_attached ) }} " target="_blank" style="text-decoration: none; color: black;">
                            <i class="bi bi-download"></i>
                        </a>
                    </td>
                <td>{{ memo.sender_office }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{{ url_for('memo.recieve_memo', officename=session.get('reciever_office')) }}" class="btn btn-sm btn-outline-secondary">
        <i class="bi bi-plus-circle-fill"></i>
        Recieve Memo
    </a>

</div>

{% endblock %}